<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
        android:name=".MainApplication"
        android:label="VLTech"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme"
        tools:replace="android:theme,android:label">

        <!-- ACTIVITY PRINCIPAL -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan"
            tools:replace="android:windowSoftInputMode">

            <!-- APP APARECE NO LAUNCHER -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <!-- RECEBE RESPOSTAS PAYGO -->
            <intent-filter>
                <action android:name="br.com.setis.interfaceautomacao.SERVICO"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="app" android:host="payment"/>
                <data android:scheme="app" android:host="resolve"/>
            </intent-filter>

        </activity>

        <!-- PAYGO BROADCAST RECEIVER -->
        <receiver
            android:name=".paygo.PayGoReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="br.com.setis.interfaceautomacao.SERVICO"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>

        <!-- OBRIGATÓRIO PARA EXPO -->
        <meta-data
            android:name="expo.modules.updates.ENABLED"
            android:value="false" />

        <meta-data
            android:name="expo.modules.updates.EXPO_RUNTIME_VERSION"
            android:value="@string/expo_runtime_version" />

    </application>

</manifest>
